@charset "UTF-8";
@import url('https://css.gg/bookmark.css');
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
@import url(https://fonts.googleapis.com/css?family=Corben:700);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);

.container{/*表示範囲の設定*/
	display:flex;
	/*min-width: 100vh;
	min-height: 100vh;
	padding-top:50px;
	padding-left:150px*/
}



.main {
	width:800px;
}

.side {
	width:650px;
	height:350px;
}

.under {
	width:650px;
	height:350px;
}

#detail_image {
	height: 35em;
	width: 30em;
	position: relative;
	left: 150px;
	top: 60px;
	border-radius: 15px; /*角を丸める*/
}

h1{
	font-size: 4em;
	position:relative;
	top:33px;
	right:5px;
}

h3{
	position:relative;
	top:80px;
	left:70px;
	font-size: 1.8em;
	font-family: 'Oswald', sans-serif; /*フォント*/
}

h4{
	position:relative;
	top:20px;
	left:0px;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;/*フォント*/
}

h6{
	position:relative;
	top:100px;
	left:75px;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif; /*フォント*/
}


.v_line_fix {

	margin-top:-10px;
  margin-left: 0px;
  width: 3px;
  height: 150px;
  background-color: black;
}

.text {
	position:relative;
	top:50px;
	right:0px;
}

.review {
	position:relative;
	top:140px;
	right:100px;
}

.LS {
	position:relative;
	top:120px;
	right:115px;
}

/*
.favorite {
	height:70px;
	font-size: 200%;
        margin: 25px;
        padding: 5px;
        border-radius: 35px;
        border: 1px solid #e3e3e3;
        color: #e3e3e3;
        background-color: transparent;
}*/


/* お気に入りボタン*/
.favorite2 {
	display: block;
	cursor: pointer;
  align-items: center;
  justify-content: center;

  position:relative;
  top:-490px;
  left:175px;

}

.f-icon {
  width: 30px;
  height: 30px;
  padding: 14px;
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  border-radius: 50%;
  box-shadow:0 3px 0 #efefef;
}

.fa-heart {
  background: #ffffff;
}

.fa-heart:hover {
	background: #ffffff;

	transform: translateY(3px);
}

.f-icon:hover {
	color: #fb4f4f;
	transform: translateY(3px);
}

.f-icon:active {
	color:#fb4f4f;
}

/*時間の円*/
.pie {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top:-250px;
	left:-50px;
	margin: 100px auto;
	width: 150px;
	height: 150px;
	font-size: 13px;
	font-weight: 700;
}

.pie::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 142px;
	height: 142px;
	border: 3px solid #ddd;
	border-radius: 50%;
	z-index: -2;
}

.pie::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#ffffff 65%, transparent 66%), conic-gradient(#f7e880 0% 60%, transparent 60% 100%);
	border-radius: 50%;
	z-index: -1;
}