@charset "UTF-8";
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.main5 {
	width:1200px;
	margin:0 auto;
	height: 1500px;
	background: #ffffff;
}

.card-group {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.card-group > :nth-child(2n){
  margin-left: 20px;
}

.card-group > :nth-child(n+3){
  margin-top: 20px;
}

.card4 {
		width: calc((100% - 20px * 1) / 2);
        width: 250px;
        margin: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 3px 6px #ccc;
    }
    .image4 {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    .title4 {
        font-size: 150%;
        margin: 10px;
        color: #444;
    }
    .content4 {
        padding: 10px;
        font-size:1px;
        color: #666;
        font-family:'Noto Sans JP', sans-serif;
    }
    .box4 {
        display: flex;
        justify-content: flex-end;
    }
    .continue4 {
        font-size: 83%;
        margin: 8px;
        padding: 8px;
        border-radius: 5px;
        border: 2px solid #25de9d;
        color: #25de9d;
        background-color: transparent;
        font-family:'Noto Sans JP', sans-serif;
    }

/* お気に入りボタン*/
.favorite2 {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position:relative;
  top:-2px;
  left:-4px;

}

.f-icon {
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 25px;
  color: #c0c0c0;
  text-align: center;
  border-radius: 50%;
  box-shadow:0 3px 0 #efefef;
  transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}

.if-icon {
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 25px;
  color: #fb4f4f;
  text-align: center;
  border-radius: 50%;
  box-shadow:0 3px 0 #efefef;
  transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}

.fa-heart {
  background: #f7f7f7;
}

.fa-heart:hover {
	background: #f7f7f7;

	transform: translateY(3px);
}

.f-icon:hover {
	color: #fb4f4f;
	transform: translateY(3px);
}


/*ページネーション*/
.pager .pagination {
  text-align: center;
  position:relative;
  top:8em;

}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 50px;
}

.pager .pagination li.pre,
.pager .pagination li.next{
  background: #efdb27;
  color: #fff;
}

.pager .pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.pager .pagination li.pre a,
.pager .pagination li.next a{
  color: #fff;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #000;
  background: #f9f9f9;
  border-radius: 10px;
  border-radius: 50px;
  animation: animScale 0.4s ease-out;
  transform-origin: 50% 50%;
  -webkit-animation: animScale 0.4s ease-out;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animScale 0.4s ease-out;
  -moz-transform-origin: 50% 50%;
}
@keyframes animScale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
}
@-webkit-keyframes animScale {
  0% { -webkit-transform: scale(0.8, 0.8); }
  40% { -webkit-transform: scale(1.2, 1.2); }
  60% { -webkit-transform: scale(1, 1); }
  80% { -webkit-transform: scale(1.1, 1.1); }
  100% { -webkit-transform: scale(1, 1); }
}
@-moz-keyframes animScale {
  0% { -moz-transform: scale(0.8, 0.8); }
  40% { -moz-transform: scale(1.2, 1.2); }
  60% { -moz-transform: scale(1, 1); }
  80% { -moz-transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); }
}

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 5%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }












/*
.card {
  margin: 30px auto;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-box {
  padding: 20px;
}
.card-text {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
*/



/*
.card-group{
  margin-left: auto;
  margin-right: auto;

  max-width: 640px;
  width: 90%;
  height: auto;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.card-group > :nth-child(2n){
  margin-left: 20px;
}

.card-group > :nth-child(n+3){
  margin-top: 20px;
}



.card{


  width: calc((100% - 20px * 1) / 2);

  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,.2)
}

.card_img{
  width: 100%;
  height: auto;
  /*padding-top: 56.25%;
  background: #bbb;
  box-sizing: border-box;
}

.card_box{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card_box > * + *{
  margin-top: 10px;
}

.card_text{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
*/







/*
img {
  width: 10em;
}

.card-2 {
	margin-left: auto;
  	margin-right: auto;


  	display:flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: flex-start;
}

.card-2 > :nth-child(2n){
  margin-left: 20px;
}

.card-2 > :nth-child(n+3){
  margin-top: 20px;
}

.card-2::before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.8em;
  font-size: 0.8rem;
  color: #fff;
  content: 'NEW';
  background: #00b5ad;
}


.content-1,
.content-2 {
  position: relative;
  padding: 0.6em 0.3em;
  margin: 0;
  font-size: 2em;
}

.content-2 {
  font-size: 0.7em;
}

.content-2::after {
  position: absolute;
  top: 0;
  left: 0.4em;
  width: 15px;
  height: 1.5px;
  content: '';
  background: #666;
}*/