<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<title th:text="${recipe.dish}"></title>


<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bookmark.css' rel='stylesheet'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/details.css}" />
</head>
<body>

		<header>
			<span th:replace="menu"></span>
		</header>

	<div class="container">

		<div class="container1">

			<div class="main">left
				<a> <img th:src="@{${'/img/' + recipe.image}}" id="detail_image">
				</a>

				<div  class="favorite" >
				<a href="#" class="favorite2"><i class="f-icon far fa-heart"></i></a>
				</div>
			</div>

		</div>

		<div class="container2">

			<div class="side">right
				<h1 th:text="${recipe.dish}" class="H"></h1>
				<br>
				<h3>Level</h3>
				<br>
				<h6>easy👌</h6>

				<div class="v_line_fix"></div>

				<div class="pie"><span>35min.</span></div>
			</div>

			<div class="under">under

				<h4>RECIPE</h4>

				<span th:text="${recipe.recipe}" class="text"></span>

				<a th:href="'/'+${recipe.dish}+'/review'">レビュー詳細</a>
					<table style="width: 100%;" border="1" class="review">
						<tr>
							<th>名前</th>
							<th>書き込み</th>
						</tr>
						<tr th:each="rev:${reviewList}">
							<td th:text="${rev.name}"></td>
							<td th:utext="${rev.review}"></td><!-- utextはタグをタグとして認識する機能 -->
						</tr>
					</table>
			</div>

		</div>
	</div>

</body>
</html>