<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<title th:text="${recipe.dish}"></title>


<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bookmark.css' rel='stylesheet'>
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/details.css}" />
</head>
<body>

		<header>
			<span th:replace="menu"></span>
		</header>

		<div class="container">

			<div class="main">left
			<a> <img th:src="@{${'img/' + recipe.image}}" id="detail_image">
			</a>
			</div>

			<div class="side">right
				<h1 th:text="${recipe.dish}" class="H"></h1>
				<br>
				<a href="#" class="btn btn-tag btn-tag--favorite"><i class="fas fa-star"></i>お気に入り</a>
				<span th:text="${recipe.recipe}" class="text"></span>
				<span th:text="${recipe.review}" class="review"></span>
			</div>

		</div>

</body>
</html>