<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<title th:text="${recipe.dish}"></title>


<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bookmark.css' rel='stylesheet'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/details.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/review.css}" />

</head>
<body>

		<header>
			<span th:replace="menu"></span>
		</header>

	<div class="container">

<script type="text/javascript">
	function favorite() {

location.href="favorite?prev=''"+ encodeURIComponent(location.href);
	}

</script>
		<div class="container1">

			<div class="main">left
				<a> <img th:src="@{${'/img/' + recipe.image}}" id="detail_image">
				</a>

				<div  class="favorite" >
				<a href="#" class="favorite2"  onClick="favorite()"><i class="f-icon far fa-heart" th:if="${session.fav}"></i><i th:unless="${session.fav}" class="if-icon far fa-heart"></i></a>
				</div>
			</div>

		</div>

		<div class="container2">

			<div class="side">right
				<h1 th:text="${recipe.dish}" class="H"></h1>
				<br>
				<h3 class="lv">Level</h3>
				<br>
				<h6>easy👌</h6>

				<div class="v_line_fix"></div>

				<div class="pie"><span>35min.</span></div>

			</div>

			<div class="under">under

				<h4 class="recipedayo">RECIPE</h4>

				<span th:text="${recipe.recipe}" class="text"></span>


				<h4 class="reviewdayo">REVIEW</h4>


					<table style="width: 70%;"  class="review2">
						<tr>
							<th>NAME</th>
							<th>COMMENT</th>
						</tr>
						<tr th:each="i:${#numbers.sequence(0, 2)}">
						 <th:block th:if="${#lists.size(reviewList) gt __${i}__}">
							<td th:text="${reviewList[__${i}__].name}"></td>
							<td th:utext="${reviewList[__${i}__].review}"></td><!-- utextはタグをタグとして認識する機能 -->
						</tr>
					</table>

					<a class="LS" th:href="'/'+${recipe.dish}+'/review'">レビューを追加</a>
			</div>

		</div>
	</div>

</body>
</html>