<form action="/search" method="get">
	<div class="search-id">
		<label for="search1"></label> <input type="search" name="search"
			id="search1" placeholder="今日は何をつくる？" th:value="${search}" />
		<button type="submit" id="btn">
			<i class="gg-search"></i>
		</button>
	</div>
</form>

<div class="home">
	<a href="/main">hoshydays kitchen.</a>
</div>
<script type="text/javascript">
	function login() {
//alert(location.href);
location.href="/login?prev="+ encodeURIComponent(location.href);
	}
	function logout(){
		location.href="/logout?prev="+ encodeURIComponent(location.href);
	}
	function signup(){
		location.href="/signup?prev="+ encodeURIComponent(location.href);
	}
	function favorite(){
		location.href="/favomenu?prev="+ encodeURIComponent(location.href);
	}
</script>
<!-- ↓ハンバーガーメニュー↓ -->
<div class="hamburger-demo-menubox">
	<input id="hamburger-demo1" type="checkbox" class="input-hidden">
	<label for="hamburger-demo1"
		class="hamburger-demo-switch hamburger-demo-switch1"> <span
		class="hamburger-switch-line1"></span>
	</label>
	<div class="hamburger-demo-menuwrap">
		<ul class="hamburger-demo-menulist">
			<li><a href="#" onClick="signup()">新規会員登録</a></li>
			<li><a href="#" onClick="favorite()">お気に入り</a></li>
			<li><a href="#">詳細検索</a></li>
			<li th:if="${session.userInfo==null}"><a href="#" onClick="login()">ログイン</a></li>
			<li th:if="${session.userInfo!=null}"><a href="#" onClick="logout()">ログアウト</a></li>
		</ul>
	</div>
	<div class="hamburger-demo-cover"></div>
</div>
<!-- ↑ハンバーガーメニュー -->

<ul class="loginbtn">
	<li th:if="${session.userInfo==null}"><a href="#" onClick="login()">login</a></li>
	<li th:if="${session.userInfo!=null}"><a href="#" onClick="logout()">logout</a></li>
</ul>