<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワードを忘れた方</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="form-wrapper">

		<h1>Re-register</h1>

		<form action="/password" method="post">

			<div class="form-id">
				<label for="name"></label> <input type="text" name="name"
					required="required" placeholder="Name"></input>
			</div>

			<div class="form-id">
				<label for="email"></label> <input type="text" name="email"
					required="required" placeholder="Email Address"></input>
			</div>

			<div class="button-panel">
				<input type="submit" class="button" title="password" value="check"></input>
			</div>

			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<p class="form-footer">
			<a href="/login">戻る</a>
	</div>
</body>
</html>