<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
	rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous">
<link rel="stylesheet" media="all" th:href="@{/css/recipeList.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />


</head>
<body>
	<div class="wrapper">

		<header>
			<span th:replace="menu"></span>
		</header>

		<h1 class="tie">
			<span th:text="${mes}"></span>
		</h1>

		<div class="main5">
			<div class="card-group">

				<div class="card4" th:each="recipe:${recipes}">

					<img th:src="@{${'img/' + recipe.image}}" class="image4">
					<p th:text="${recipe.dish}" class="title4"></p>
					<p class="content4">お気に入り追加</p>
					<a th:href="${recipe.dish}+'/favorite?prev=/search'"
						class="favorite2">
						<span th:each="favorite:${session.favorite}">
							<span th:if="${session.userInfo!=null}">
								<span th:if="${favorite.dish==recipe.dish}">
								<i class="if-icon far fa-heart" th:if="${favorite.fav==true}"></i>
								<i th:unless="${favorite.fav==true}"class="f-icon far fa-heart"></i>
								</span>
							</span>
							<span th:if="${session.userInfo==null}">
								<i class="f-icon far fa-heart"></i>
							</span>
						</span>
					</a>


					<div class="box4">
						<button class="continue4"
							th:attr="onClick='location.href=\''+${recipe.dish}+'/details\''">
							<!--
						クリックした場合リンクに飛ぶ
						onClickでクリックの監視、location.hrefでリンク機能
						\''+${recipe.dish}+'\''
						エスケープ処理の\'''+${}+'\''
						  -->

							<!--
						任意の属性を使用したい場合はth:attrを使い
						th:attr="onclick"としてやることで、
						thymeleafの機能を使ってonclickを動的に設定することができる
						-->

							レシピ詳細へ
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<footer>
		<span th:replace="menu2"></span>
	</footer>
</body>
</html>