<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワードを忘れた方</title>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="form-wrapper">

		<h1>password</h1>

		<form action="/repass" method="post">


			<div class="form-id">
				<label for="password"></label>
				<input type="password"name="pass1" required="required" placeholder="Password"></input>
			</div>

			<div class="form-id">
				<label for="password"></label>
				<input type="password"name="pass2" required="required" placeholder="Password（確認用）"></input>
			</div>


			<div class="button-panel">
				<input type="submit" class="button" title="login" value="Re-register"></input>
			</div>

			<br> <span th:text="${message}" style="color: red"></span>
		</form>


	</div>
</body>
</html>