<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${recipe.dish}"></title>
<!-- CSS-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/bookmark.css' rel='stylesheet'>
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/review.css}" />
</head>
<body>
	<header>
		<span th:replace="menu"></span>
	</header>

	<div class="container3">
		<div class="main8">
			<a><img th:src="@{${'/img/' + recipe.image}}" id="detail_image2"></a>
			<h3 th:text="${recipe.dish}" class="rev"></h3>
			<a class="back" th:href="'/'+ ${recipe.dish} +'/details'">BACK</a>
		</div>

		<div class="side2">
		<br>
		<br>
		<br>

			<span class="user" th:text="${session.mes}"></span>
			<div class="user" th:if="${session.userInfo !=null}"><!-- レビュー入力 -->
			<br>
				<form th:action="@{'/'+${recipe.dish}+'/review'}" method="post" class="review">
					<input type="hidden" name="dish" th:value="${recipe.dish}">
					<textarea  class="comment" name="review" placeholder="コメントを書く"></textarea>
						<input  class="send" type="submit" value="送信">
				</form>
			</div>

			<hr>
			<table style="width: 100%;" border="1" class="review"> <!-- レビュー表示 -->
				<tr>
					<th>NAME</th>
					<th>COMMENT</th>
				</tr>
				<tr th:each="rev:${reviewList}">
					<td th:text="${rev.name}"></td>
					<td th:utext="${rev.review}"></td>
					<!-- utextはタグをタグとして認識する機能 -->
				</tr>
			</table>
		</div>
	</div>

	<hr>

		<footer>
			<span th:replace="menu2"></span>
		</footer>
</body>
</html>