<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
 <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="form-wrapper">

  <h1>Sign in</h1>

  <form action="/signup" method="post">
	<div class="form-id">
      <label for="name"></label>
      <input type="text" name="name" required="required" placeholder="Name"></input>
    </div>

    <div class="form-id">
      <label for="email"></label>
      <input type="text" name="email" required="required" placeholder="Email Address"></input>
    </div>

    <div class="form-id">
      <label for="password"></label>
      <input type="password" name="password" required="required" placeholder="Password"></input>
    </div>

    <div class="button-panel">
      <input type="submit" class="button" title="Sign In" value="Sign In"></input>
    </div>
    <br>
    <span th:text="${message}" style="color:red"></span>
  </form>
</div>
</body>
</html>