	<span th:replace="swiper"></span>

<!-- TOP th:replace用 -->

<!-- Swiper -->
			<div class="swiper-container mySwiper">
				<div class="swiper-wrapper">

					<span class="swiper-slide" th:each="recipe:${session.Recipe}">
						<img th:src="@{${'img/' + recipe.image}}" />
					</span>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>


			<!-- Swiper JS -->
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

			<!-- Initialize Swiper -->
			<script type="text/javascript" th:src="@{/js/slide.js}"></script>
		</div>