<!--  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<title>Insert title here</title>
</head>
<body>

<img src="img/pancake.jpg">
  <img  th:src="@{${'img/' + URL}}">
<span th:text ="'img/'+${URL}"></span>
<link rel="shortcut" th:href="@{'/resources/template/img/'+${URL}}" />
</body>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
		href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" media="all" th:href="@{/css/slide.css}" />
<style type="text/css">



.last  {
    padding: 0 50px 0 0px;
    position: relative;
line-height:50px;
 text-align:center;

}
.last::after {
width:3em;
     height:3em;
    content: 'NEW';
    position: absolute;
    top: -1em;
    left: -1em;
    background: red;
     border-radius:70%;
      box-shadow: 3px 3px 1px black


}

</style>
<meta charset="utf-8" />
<title>Swiper demo</title>
<!-- Link Swiper's CSS -->


<!-- Demo styles -->

</head>

<body>


	<!-- Swiper -->
	<div class="swiper-container mySwiper">
		<div class="swiper-wrapper">

				<div class="swiper-slide"th:each="recipe:${session.Recipe}">
					<p class="last"><img th:src="@{${'img/' + recipe.image}}" /></p>
				</div>
</div>
<!--
			<div class="swiper-slide">Slide 2</div>
			<div class="swiper-slide">Slide 3</div>
			<div class="swiper-slide">Slide 4</div>
			<div class="swiper-slide">Slide 5</div>
			<div class="swiper-slide">Slide 6</div>
			<div class="swiper-slide">Slide 7</div>
			<div class="swiper-slide">Slide 8</div>
			<div class="swiper-slide">Slide 9</div>-->
		</div>

		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-pagination"></div>
	</div>

	<!-- Swiper JS -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- Initialize Swiper -->
	<script type="text/javascript" th:src="@{/js/slide.js}"></script>
</body>
</html>
