<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link
	href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
	integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	crossorigin="anonymous">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/recipeList.css}" />
<!-- スライダー用 -->
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="all" th:href="@{/css/slide.css}" />
</head>
<body>
	<div class="wrapper">


		<header>
			<form action="/search" method="get">
				<div class="search-id">
					<label for="search1"></label> <input type="search" name="search"
						id="search1" placeholder="今日は何をつくる？" th:value="${search}" />
					<button type="submit" id="btn">
						<i class="gg-search"></i>
					</button>
				</div>
			</form>

			<!-- ↓ハンバーガーメニュー↓ -->
			<div class="hamburger-demo-menubox">
				<input id="hamburger-demo1" type="checkbox" class="input-hidden">
				<label for="hamburger-demo1"
					class="hamburger-demo-switch hamburger-demo-switch1"> <span
					class="hamburger-switch-line1"></span>
				</label>
				<div class="hamburger-demo-menuwrap">
					<ul class="hamburger-demo-menulist">
						<li><a href="/signup">新規会員登録</a></li>
						<li><a href="/favomenu">お気に入り</a></li>
						<li th:if="${session.userInfo==null}"><a href="/login">ログイン</a></li>
						<li th:if="${session.userInfo!=null}"><a href="/logout">ログアウト</a></li>
					</ul>
				</div>
				<div class="hamburger-demo-cover"></div>
			</div>
			<!-- ↑ハンバーガーメニュー -->

			<ul class="loginbtn">
				<li th:if="${session.userInfo!=null}"><a href="/logout">logout</a></li>
				<li th:if="${session.userInfo==null}"><a href="/login">login</a></li>
			</ul>
		</header>


		<div class="main">
			main
			<h1>
				HOSHYDAYS<br>Kitchen.
			</h1>
			<a class="scroll" href="#pic"> Scroll </a>


		</div>

		<div class="main2">
			main2
			<h2 id="pic">PICKUP MENU</h2>

			<!-- Swiper -->
			<div class="swiper-parent">

				<!-- Swiper START -->
				<div class="swiper-container mySwiper">

					<!-- メイン表示部分 -->
					<div class="swiper-wrapper">

						<!-- 各スライド -->
						<div class="swiper-slide" th:each="recipe:${session.Recipe}">
							<a th:href="@{'/'+${recipe.dish}+'/details'}"> <img
								th:src="@{${'img/' + recipe.image}}" /></a>
						</div>
					</div>
					<!-- ページネーション -->
					<div class="swiper-pagination swiper-pagination-black"></div>
				</div>
				<!-- Swiper END -->

				<!-- 前ページ -->
				<div class="swiper-button-prev"></div>
				<!-- 次ページ -->
				<div class="swiper-button-next"></div>

			</div>


			<!-- Swiper JS -->
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

			<!-- Initialize Swiper -->
			<script type="text/javascript" th:src="@{/js/slide.js}"></script>
		</div>

		<div class="main3">
			main3
			<h2 id="pic2">RECIPE MENU</h2>
			<div class="card-group2">

				<div th:each="recipe:${session.Recipe}" class="card5">

					<img th:src="@{${'img/' + recipe.image}}" class="image5">
					<p th:text="${recipe.dish}" class="title5"></p>
					<p class="content5">お気に入り追加</p>
					<a th:href="${recipe.dish}+'/favorite?prev='"
						class="favorite3">
					<span
						th:each="favorite:${session.favorite}"> <span
							th:if="${session.userInfo!=null}"> <span
								th:if="${favorite.dish==recipe.dish}"> <i
									class="if-icon far fa-heart" th:if="${favorite.fav==true}"></i>
									<i th:unless="${favorite.fav==true}"
									class="f-icon far fa-heart"></i>
							</span>
						</span> <span th:if="${session.userInfo==null}"> <i
								class="f-icon far fa-heart"></i>
						</span>
					</span></a>

					<div class="box5">
						<button class="continue5"
							th:attr="onClick='location.href=\''+${recipe.dish}+'/details\''">
							<!--
							クリックした場合リンクに飛ぶ
							onClickでクリックの監視、location.hrefでリンク機能
							\''+${recipe.dish}+'\''
							エスケープ処理の\'''+${}+'\''
							  -->

							<!--
							任意の属性を使用したい場合はth:attrを使い
							th:attr="onclick"としてやることで、
							thymeleafの機能を使ってonclickを動的に設定することができる
							-->

							レシピ詳細へ
						</button>
					</div>
				</div>
			</div>
		</div>

		<footer>
			footer
			<h6 class="footer2">HOSHYDAYS Kitchen.</h6>

			<a class="footer3" href="/main">トップ </a> <a class="footer4"
				href="/search">レシピリスト一覧 </a>
		</footer>

	</div>
</body>
</html>