<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
<link href='https://css.gg/search.css' rel='stylesheet'>
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}" />
<!-- スライダー用 -->
<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="all" th:href="@{/css/slide.css}" />
</head>
<body>
	<div class="wrapper">


		<header>
			<form action="/search" method="get">
				<div class="search-id">
					<label for="search1"></label> <input type="search" name="search"
						id="search1" placeholder="今日は何をつくる？" th:value="${search}" />
					<button type="submit" id="btn">
						<i class="gg-search"></i>
					</button>
				</div>
			</form>

			<!-- ↓ハンバーガーメニュー↓ -->
			<div class="hamburger-demo-menubox">
				<input id="hamburger-demo1" type="checkbox" class="input-hidden">
				<label for="hamburger-demo1"
					class="hamburger-demo-switch hamburger-demo-switch1"> <span
					class="hamburger-switch-line1"></span>
				</label>
				<div class="hamburger-demo-menuwrap">
					<ul class="hamburger-demo-menulist">
						<li><a href="/signup">新規会員登録</a></li>
						<li><a href="#">お気に入り</a></li>
						<li><a href="#">詳細検索</a></li>
						<li><a href="#">ログアウト</a></li>
					</ul>
				</div>
				<div class="hamburger-demo-cover"></div>
			</div>
			<!-- ↑ハンバーガーメニュー -->

			<ul class="loginbtn">
				<li><a href="/login">login</a></li>
			</ul>
		</header>


		<div class="main">
			main
			<h1>HOSHYDAYS<br>Kitchen.</h1>

		</div>

		<div class="main2">
			main2

			<!-- Swiper -->
			<div class="swiper-container mySwiper">
				<div class="swiper-wrapper">

					<span class="swiper-slide" th:each="recipe:${session.Recipe}">
						<img th:src="@{${'img/' + recipe.image}}" />
					</span>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>


			<!-- Swiper JS -->
			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

			<!-- Initialize Swiper -->
			<script type="text/javascript" th:src="@{/js/slide.js}"></script>
		</div>

		<footer>footer</footer>

	</div>
</body>
</html>