<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
<link rel="stylesheet" media="all" th:href="@{/css/style2.css}"/>
</head>
<body>
<div class="wrapper">

	<header>
	<div class="hamburger">
  	<span></span>
  	<span></span>
  	<span></span>
	</div>

	<nav class="globalMenuSp">
    <ul>
        <li><a href="#">Menu1</a></li>
        <li><a href="#">Menu2</a></li>
        <li><a href="#">Menu3</a></li>
        <li><a href="#">Menu4</a></li>
        <li><a href="#">Menu5</a></li>
    </ul>
	</nav>
</header>

	<div class="container">
    <h1 class="main" id="HD">HOSHYDAY Kitchen</h1>

	</div>

  <footer></footer>

</div>
</body>
</html>